<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <title>AngularJS</title>
</head>

<body>
    <navadcrumb">
        <div class="card" style="width: 100%;">
            <div class="container-lg" id="app1">
                <div ng-controller="nameChanger">
                    <input class="form-control" type="text" ng-model="nome" placeholder="digite seu nome">
                    <!---<button class>enter</button>--->
                    <br>
                    <h1>hello {{nome}}!</h1>
                </div>
            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="container" id="app2">
                <div ng-controller="contador">
                    <h1>Contador</h1>
                    <h2 collor="cian">{{ cont }}</h2>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-secondary" ng-click=" cont = cont-1">subtrai 1</button>
                        <button class="btn btn-secondary" ng-click=" cont = cont + 1">soma 1</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script src="./app.js"></script>
</body>

</html>